@font-face {
    font-family: "Redaction";
    src: url("Redaction-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Redaction";
    src: url("Redaction-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Redaction";
    src: url("Redaction-Italic.woff2") format("woff2");
    font-style: italic;
}
